<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:orange;color:white;height:60px;width:100%">
        Header Section here...
    </header>
    <main style="text-align:center;background-color:beige;color:blue">

        <div>@RenderBody()</div>
    </main>
    <footer style="background-color:greenyellow;color:black;height:80px;width:100%">
        Footer Section Here...
    </footer>
</body>
</html>